* {border: 1px solid rgba(255, 0, 0, 0.5);}


body {
  height: 100vh;
  margin: 0%;
  max-width: 100%;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--accent-color-2);
}

#main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
}

#startDisplay {
  grid-row: 7/14;
  grid-column: 8/14;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#startBtn {
  width: 20%;
  height: 20%;
}

#startBtn:hover {
  scale: 1.1;
  cursor: pointer;
}

#gameBoard {
  display: grid;
  grid-row: 4/17;
  grid-column: 6/16;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);

}

.gridRows {
  display: grid;
  grid-row: span 1;
  grid-column: span 10;
  grid-template-columns: repeat(10,1fr);
  border: solid red 1px;
}

.gridCell {
  grid-column: span 1;
  width: 10%;
  height: 10%;
}


